<div class="col-md-12 container">
  <h2 style="margin: auto"> Employee List</h2><br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.id}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phoneNumber}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" (click)="editEmployee(employee)" style="width: 60px;"> Edit</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteEmployee(employee)" style="margin-left: 20px; width: 60px;"> Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="addEmployee()"> Add Employee</button>
</div>
