<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #424242;">
  <a class="navbar-brand" href="#">Employee Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Menu -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Register (to be implemented)</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <br>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>Michał Stelmaszak 2019 @ www.stelmach.dev</span>
  </div>
</footer>
