<div class="col-md-6 user-container">
  <h2 class="text-center">Edit Employee</h2>

  <form (ngSubmit)="onSubmit()" #editEmployee="ngForm">
    <div class="form-group">
      <label for="firstName"><b>First Name:</b></label>
      <input name="firstName" class="form-control" id="firstName" type="text" [(ngModel)]="employee.firstName"
             required #firstName="ngModel">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required.</div>
    </div>

    <div class="form-group">
      <label for="lastName"><b>Last Name:</b></label>
      <input name="lastName" class="form-control" id="lastName" type="text" [(ngModel)]="employee.lastName"
             required #lastName="ngModel">
      <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is required.</div>
    </div>

    <div class="form-group">
      <label for="email"><b>Email:</b></label>
      <input name="email" class="form-control" id="email" type="text" [(ngModel)]="employee.email"
             required email #email="ngModel">
      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">A valid email is required.</div>
    </div>

    <div class="form-group">
      <label for="phoneNumber"><b>US Phone Number:</b></label>
      <input name="phoneNumber" class="form-control" id="phoneNumber" type="text" [(ngModel)]="employee.phoneNumber"
             required pattern="^([\+]?[1]( |-)?)?(\(?[0-9]{3}\)?|[0-9]{3})( |-)?([0-9]{3}( |-)?[0-9]{4}|[a-zA-Z0-9]{7})$" #phoneNumber="ngModel" placeholder="eg. +1 (123) 123 1234">
      <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">A valid US phone number is required.</div>
    </div>

    <button class="btn btn-success" [disabled]="!editEmployee.form.valid">Edit</button>
  </form>
  <br>
  <button class="btn btn-danger" (click)="cancel()">Back to list</button>
</div>
